
  body {
  background: rgb(9, 20, 50) url("seoul.jpg") no-repeat center top;
  }
  h1 {
  color: #fff;
  text-align: center;
  }
  
h2{
text-align: center;	
}  
  
a:link{
	text-decoration: none;
}

a:visited {
    color: white;
}
  
  p{
text-align: left-side;
text-indent: 50px;	  
  }  
  
#c2{
color: #fff;
display:none;
width: 600px; 
height: 500px;	

}  

#c3 {color: #fff;
display:none;
}
#jin{ color: #fff;
}

.menu{
	color: #fff;
	font-size: 20px;
}

.fl{ color: #fff;
	left: 50px;
	position: absolute;
}

p{ color: #fff;
   text-align: center ;
text-indent: 50px;
}

input[type=button], input[type=reset] { background-color: #fff;
    border: none;
    color: rgb(8, 19, 49);
    padding: 16px 32px;
    cursor: pointer;
    margin: 4px 2px;
	border-radius: 8px;
    
	
}

input[type=button]:hover {
    background-color: #6495ED;
    color: #fff;
}

input[type=reset]:hover {
    background-color: #6495ED;
    color: #fff;
}

table {
	border: none;
	width: 100%;
}

th, td {padding: 5px 10px ;
 text-align: left;
 border-radius: 6px;
 
 }

  td.menu { background:  #6495ED;
  }
  td.menu:hover{ background: #00BFFF;
  }

 
 
#bc{ background: #6495ED; }



#box div{
				position: absolute;
				height: 160px;
				width: 160px;
				border: 1px solid rgb(9,20,50);
				background: rgba(152,245,255,0.8);
				text-align: center;
				font-size: 50px;
			}

			#box{
				-webkit-animation-name: animation;
				-webkit-animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-duration: 3s; margin:8;
				-webkit-transform-style: preserve-3d;
				-webkit-transform-origin: 80px 80px 0;
			}

			#box .one{ 
				-webkit-transform: translateZ(80px);
			}
			#box .two{ 
				-webkit-transform: rotateX(-90deg) translateZ(80px);
			}
			#box .three {
				-webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(80px);
			}
			#box .four {
				-webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(80px);
			}
			#box .five{ 
				-webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(80px);
			}
			#box .six {
				-webkit-transform: rotateY(90deg) translateZ(80px);
			}

			@-webkit-keyframes animation{
				from,to{}
				16% { -webkit-transform: rotateY(-90deg);}
				33% { -webkit-transform: rotateY(-90deg) rotateZ(135deg);}
				50% { -webkit-transform: rotateY(225deg) rotateZ(135deg);}
				66% { -webkit-transform: rotateY(135deg) rotateX(135deg);}
				83% { -webkit-transform: rotateX(135deg);}
